@font-face {
    font-family: 'OswaldHeavy';
    src: url('oswald-heavy-webfont.woff2') format('woff2'),
         url('oswald-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.FF {
  margin: 0;
	text-align: center;
  line-height: 0.1;
}

.FF h1 {
  font-family: "OswaldHeavy";
  font-size: 777%;
}
.FF h2 {
  font-family: "OswaldHeavy";
  font-size: 672%;
}

.leagues p {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 30px;
  line-height: 2;
}
.leagues span {
  border-style: groove;
  padding: 5px;
}
