@font-face {
    font-family: 'OswaldHeavy';
    src: url('oswald-heavy-webfont.woff2') format('woff2'),
         url('oswald-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {
  color: black;
  text-decoration: none;
}
a :hover{
  color: black;
  text-decoration: none;
}

.FF {
	text-align: center;
  line-height: 0.1;
  margin-right: auto;
  margin-left: auto;
}

.FF h1 {
  font-family: "OswaldHeavy";
  font-size: 777%;
}

.FF h2 {
  font-family: "OswaldHeavy";
  font-size: 672%;
}

@media only screen and (max-width: 480px) {
p {text-align: center !important;}
h1 {font-size: 592% !important;}
h2 {font-size: 512% !important;}}

.leagues p {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 30px;
  line-height: 2;
}
.leagues span {
  border-style: groove;
  padding: 5px;
}
