* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body {
  height:100%;
  margin:0;
  -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'metropolismedium';
    src: url('metropolis-medium-webfont.woff2') format('woff2'),
         url('metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color:white;
}

a:hover{
  color:black;
}

nav {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  background-color: none;
  position: fixed;
  left: 1%;
  top: 0;
  width: 98%;
  z-index:100;
  font-family: metropolismedium;
}

.navlogo {
  letter-spacing: 5px;
}

nav a{
  padding: 5px 20px;
}

.navlinks>li {
  list-style: none;
  padding: 0px 10px;
  letter-spacing: 3px;
}

.burgerline {
  width: 25px;
  height: 3px;
  margin: 5px;
  border: none;
  background-color: white;
}

.opaqueNavbar {
	background-color: white;
	opacity: 0.8;
	color: black !important;
	transition: 0.5s;
}

.opaqueNavbar a {
  color: black !important;
}

.opaqueNavbar .burgerline {
  background-color: black !important;
}

/* navigation media */
@media only screen and (min-width: 600px){
  nav {
    padding:20px;
    margin-top:10px;
    align-items: center;
  }

  .navlogo {
    position: absolute;
    left:5;
  }

  .navResp {
    position: absolute;
    right:0;
  }

  .navlinks{
    display: flex;
    justify-content: space-around;
  }

  .burger{
    display: none;
    z-index: 101;
  }
}

@media only screen and (max-width: 600px){
  nav {
    padding:5px;
    margin-top:5px;
    flex-direction: column;
  }

  .navlogo {
    position: relative;
    left:0;
  }

  .navResp {
    position: relative;
    right:0;
  }

  .hidden {
    display:none;
  }

  .burger {
    display: block;
    position: absolute;
    right: 3%;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .burger:focus, .burger:hover{
    border: none;
  }

  .clickedbutton{
    background-color: grey !important;
    opacity: 0.8 !important;
  }
}


header {
  display:block;
}

header .homepage-header {
  width: 100%;
  background-repeat: no-repeat;
}

.header-text {
  color:white;
  text-align: center;
  position: relative;
}

.header-text p{
  font-family: metropolismedium;

  background-color: none;
}

/* header meadia */
@media only screen and (min-width: 600px){
  header .homepage-header {
    background-image: url(header1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 750px;
  }

  .header-text {
    top: 50%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px){
  header .homepage-header {
    background-image: url(header2.jpg);
    background-size: 100%;
    background-position: top;
    height: 400px;
  }
  .header-text {
    top: 30%;
    font-size: 20px;
  }
}
