* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
  margin:0;
  -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'metropolismedium';
    src: url('metropolis-medium-webfont.woff2') format('woff2'),
         url('metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'faustinamedium';
  src: url('faustina-medium-webfont.woff2') format('woff2'),
       url('faustina-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
}

nav a{
  color:white;
  padding: 5px 20px;
}
/*
a:hover{
  color:white;
*/
@media only screen and (min-width: 600px){
nav a:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  }

nav a:hover:after {
  transform: scaleX(1);
  }
}

nav {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  background-color: none;
  position: fixed;

  left: 1%;
  top: 0;
  width: 98%;
  z-index:100;
  font-family: metropolismedium;
}

.navlogo {
  letter-spacing: 0px;
}

.navlinks>li {
  list-style: none;
  padding: 0px 10px;
}

.burgerline {
  width: 25px;
  height: 3px;
  margin: 5px;
  border: none;
  background-color: white;
}

.opaqueNavbar {
	background-color: white;
	opacity: 0.8;
	color: black !important;
	transition: 0.5s;
}

.opaqueNavbar a {
  color: black !important;
}

.opaqueNavbar a:after {
  border-bottom: solid 3px black !important;
}

.opaqueNavbar a:after {
  background-color: black !important;
}

.opaqueNavbar .burgerline {
  background-color: black !important;
}

/* navigation media */
@media only screen and (min-width: 600px){
  nav {
    padding:20px;
    margin-top:10px;
    align-items: center;
  }

  .navlogo {
    position: absolute;
    left:5;
  }

  .navResp {
    position: absolute;
    right:0;
  }

  .navlinks{
    display: flex;
    justify-content: space-around;
  }

  .burger{
    display: none;
    z-index: 101;
  }
}

@media only screen and (max-width: 600px){
  nav {
    padding:5px;
    margin-top:5px;
    flex-direction: column;
  }

  .navlogo {
    position: relative;
    left:0;
  }

  .navResp {
    position: relative;
    right:0;
  }

  .hidden {
    display:none;
  }

  .burger {
    display: block;
    position: absolute;
    right: 3%;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .burger:focus, .burger:hover{
    border: none;
  }

  .clickedbutton{
    background-color: grey !important;
    opacity: 0.8 !important;
  }
}


header {
  display:block;
  height:100%;
}

header .homepage-header {
  width: 100%;
  background-repeat: no-repeat;
background-image: url(header3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#headerfadein {
  opacity:0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
}


.header-text {
  color:white;
  text-align: center;
  position: relative;
  letter-spacing: 4px;
}

.header-text h1{
  font-family: metropolismedium;
  background-color: none;
}

.subpage-headerbox{
  display: block;
}

.subpage-header{
  width:100%;
  height: 100%;
  background-color: #3063FF;
  text-align: center;
}

.subpage-header h1{
  position: relative;
  top:40%;
  color: white;
  font-family: metropolismedium;
  font-weight: bold;
}

.archives-header{
  background-image:url(archivesheader.png);
  background-position:top center;
  background-repeat: no-repeat;
}

.seasons-header{
  background-image:url(seasonsheader.png);
  background-position:top center;
  background-repeat: no-repeat;
}

/* header media */
@media only screen and (min-width: 600px){
  header .homepage-header {
    background-position: top 20% center;
    height: 100%;
  }

  .header-text {
    top: 70%;
    font-size: 40px;
    font-weight: bold;
  }

  .subpage-headerbox{
    height: 50%;
  }

  .subpage-header h1 {
    font-size: 70px;
  }

  .archives-header{
  background-size: 100% ;
  }
  .seasons-header{
  background-size: 100% ;
  }
}

@media only screen and (max-width: 600px){
  header .homepage-header {

    background-position:center;
    height: 100%;
  }
  .header-text {
    top: 75%;
    font-size: 15px;
  }

  .subpage-headerbox{
    height: 40%;
  }

  .subpage-header h1 {
    font-size:40px;
  }

  .archives-header{
    background-size: 700px ;
  }

  .seasons-header{
    background-size: 700px ;
  }
}

.box{
  display:flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}


.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {width: 8.3333333333%;}
.col-2 {width: 16.6666666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333333333%;}
.col-5 {width: 41.6666666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333333333%;}
.col-8 {width: 66.6666666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3333333333%;}
.col-11 {width: 91.6666666667%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px){

  .mcol-1 {width: 8.3333333333% !important;}
  .mcol-2 {width: 16.6666666667% !important;}
  .mcol-3 {width: 25% !important;}
  .mcol-4 {width: 33.3333333333% !important;}
  .mcol-5 {width: 41.6666666667% !important;}
  .mcol-6 {width: 50% !important;}
  .mcol-7 {width: 58.3333333333% !important;}
  .mcol-8 {width: 66.6666666667% !important;}
  .mcol-9 {width: 75% !important;}
  .mcol-10 {width: 83.3333333333% !important;}
  .mcol-11 {width: 91.6666666667% !important;}
  .mcol-12 {width: 100% !important;}
	.mrow{padding-left:0;padding-right:0}

}

/* announcement stuff */
.announcements {
  padding: 30px 15px;
  font-family: metropolismedium;
  justify-content: center;
  flex-wrap: wrap;
}

.announcements div{
  padding: 13px;
}

.announcements p{
  text-align: left;
  padding-bottom: 2px;
}

.ann-text p.bold1::first-letter {
  font-weight: bold;
}

.weekly-summary{
  padding: 30px 15px;
  font-family: metropolismedium;
  align-items:center;
  text-align:center;
  flex-direction:column;
}

.weekly-summary div{
  padding: 8px;
}

.weekly-text{
  border-top: 5px solid black;
}

@media only screen and (min-width: 600px){
  .announcements h3{
    text-align: right;
    font-size: 40px;
  }

  .announcements p {
    font-size: 20px;
  }

  .ann-text{
    border-left: 5px solid black;
  }
  .weekly-summary h3{
    font-size:30px;
  }

  .weekly-summary p{
    font-size:20px;
  }
}


@media only screen and (max-width: 600px){
  .announcements{
    flex-direction: column !important;
    align-items: center;
  }

  .announcements h3{
    text-align: center;
    font-size: 20px;
  }

  .announcements p{
    font-size: 15px;
  }

  .ann-text{
    border-top: 5px solid black;
  }

  .weekly-summary h3{
    font-size:20px;
  }

  .weekly-summary p{
    font-size:15px;
  }
}

/*link boxes */
.iconlinks {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.iconlinks p{
  font-family: metropolismedium;
  padding-top: 10px;
  padding-left: 10px;
}

@media only screen and (min-width: 600px){
  .iconlinks{
      justify-content: space-around;
  }

  .iconlinks div a{
      overflow:hidden;
      width:300px;
      height:300px;
  }

  .iconlinks div a img{
      transition: .5s ease;
  }

  .iconlinks div a img:hover{
      opacity:0.8;
      transform: scale(1.2);
  }

	.center-icon {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.center-icon a{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.center-icon p{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width: 300px;
	}

  .linkbox {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 600px){
  .iconlinks{
    width: auto;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .linkbox {
    height: 300px;
    width: 300px;
  }
}



/* footer styling */
footer {
  display: block;
  padding: 20px;
  align-items:center;
  background-color: black;
}

.footer-text {
  color:white;
  text-align: center;
  font-family: metropolismedium;
  font-size: 15px;
}

.fadeinClassDesig {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 1s;
    animation: animat_show 1s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

.nextseasontn-divs{
  display: inline-block;
}

.nextseason-btn{
  font-family: metropolismedium;
}

.nextseason-btn p{
  background-color: #3063FF;
  margin:5px;
  padding:10px;
  border-radius: 10px;
color:white;
}



.btnleft {
  float:left;
}

.btnright {
  float:right;
}

.btnleft:hover{
  transform: translateX(-3px);
}

.btnright:hover{
  transform: translateX(3px);
}

.box-tables {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

.box-tables div{
  padding-left: 15px;
  padding-right:15px;
  padding-bottom:30px;
}

.logisticsdivs div{
  padding: 15px 0px;
}

#rostertable, #scoringtable, #draftboardtable, #standingstables{
  border: 1px solid black;
  border-collapse: collapse;
  font-family: metropolismedium;
}

#scoringtable {
  width: 200px;
}

#rostertable th, #scoringtable th,
#draftboardtable th, #standingstables th,
#rostertable td, #scoringtable td,
#draftboardtable td, #standingstables td {
  border: 1px solid black;
  padding: 6px;
}

#standingstables th{
  background-color: #3063FF;
  color:white;
  padding:10px;
}

#rostertable th, #scoringtable th {
  background-color: #8000ff;
  color: white;
  padding: 10px;
}

#generalrules div, #scoringrules div{
  padding-left: 15px;
  padding-right: 15px;
}

.draftdiv div{
  margin-left:15px;
  margin-right:15px;
}

.scoring-label{
  width: 80%;
}

#generalrules-button, #scoringrules-button, #draft-button{
  font-family: metropolismedium;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-image: linear-gradient(to right, purple, #8000ff);
  color: white;
  border-radius: 20px;
}


#generalrules-button:hover, #scoringrules-button:hover, #draft-button:hover{
    transform: translateY(3px);
    cursor: pointer;
}

.logbtnclick {
  background-color: grey !important;
}

.hiderules {
  display: none !important;
}

#RB, #WR, #TE, #QB, #K, #DST {
  color: white;
  border-radius: 5px;
}

#RB {background-color:#219646;}
#WR {background-color:#3275d9;}
#TE {background-color: #c29721}
#QB {background-color: #d61539;}
#K {background-color: #9c2d9c;}
#DST {background-color: #1a1f66;}

@media only screen and (min-width: 600px){
  .logisticsdivs{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
  }

  .logisticsdivs {
    padding-left:0%;
  }

  .box-tables{
      justify-content: center;
  }

  .rulebtn {order:1;display:flex;justify-content:center;}
  .rulediv {order:4}
  .scorebtn {order:2;display:flex;justify-content:center;}
  .scorediv {order:5}
  .draftbtn {order:3;display:flex;justify-content:center;}
  .draftdiv {order:6}

  .tableposition {
    justify-content:center;
  }

}

@media only screen and (max-width: 600px){
  .logisticsdivs{
    flex-direction: column;
    align-items: center;
  }

  .box-tables{
      justify-content: flex-start;
  }

  .rulebtn {order:1}
  .rulediv {order:2}
  .scorebtn {order:3}
  .scorediv {order:4}
  .draftbtn {order:5}
  .draftdiv {order:6}

  .mbtn-center{
    justify-content: center;
    display: flex;
  }
}

.box-weeks {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: metropolismedium;
  padding-top: 15px;
  padding-bottom: 15px;
}

.box-weeks div h3 {
  text-align: center;
  padding: 5px;
}

.weekslinks {
  display: flex;
  flex-wrap: wrap;
}

.weekslinks div {
  transition: .5s ease;
  text-align: center;
}

.weekslinks div a {
    transition: .5s ease;
}

.weekslinks div a, .box-weeks div h3 a{
  padding:2px;
  color: white;
  border-radius: 20px;
  background-image: linear-gradient(to right, #111e52, #3063FF);
}

.weekslinks div a:hover, .box-weeks div h3 a:hover {
    transform: translateY(3px);
}

.active-week a{
  background-image: linear-gradient(to right, #2B8270, #20F0C5) !important;
}

@media only screen and (min-width: 600px){
  .box-weeks div h3 {
      font-size: 40px;
  }

  .weekslinks div {
    width: 25%;
    padding: 10px;
  }
}

@media only screen and (min-width:900px){
  .weekslinks div a {
    font-size: 30px;
  }
}


@media only screen and (min-width:600px && max-width:900px){
  .weekslinks div a {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px){
  .box-weeks div h3 {
      font-size: 20px;

  }
  .weekslinks div {
    padding: 5px;
    width: 25%;
  }

  .weekslinks div a {
    font-size: 15px;
  }
}



.archives-divs{
  display:flex;
  flex-direction: column;
  padding-left:15px;
  padding-right:15px;
  overflow-x:auto;
}

#podiumdiv{
  margin-top: 30px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  width:auto;
  height:650px;
  position:relative;
}

#podiumdiv img{
  width:900px;
  height:650px;
}

#podiumdiv p{
  position: absolute;
  text-align:center;
  font-family: faustinamedium;
  font-weight: bold;
  color:#E8E7E6;
}

#firstplace {
  width: 273px;
  top:72%;
  left:35%;
}

#secondplace{
  width: 261px;
  top:76%;
  left:3.5%;
}

#thirdplace{
  width: 256px;
  top:78.6%;
  left:67.8%;
}

#podiumyear{
  font-size:40px;
  width:900px;
  bottom:1.7%;
}


.box-managers {
  display:flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-left:auto;
  margin-right:auto;
  flex-wrap: wrap;
}

.managerdiv {
  display: block;
  font-family: metropolismedium;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right:auto;

}

.managerdiv img, .managerdiv h3, .managerdiv p {
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}

.managerdiv img{
  width:325px;
  height:325px;
}

.managerdiv h3 {
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  font-size: 23px;
}

.managerdiv p{
  width:325px;
  font-size:15px;
  text-align:left;
  padding-bottom:5px;
}

@media only screen and (min-width: 600px){
  .box-managers {
    justify-content:center;
  }
}

@media only screen and (max-width: 600px){
  .box-managers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#playofftable {
    border-collapse: collapse;Table-layout:fixed;
    font-family: metropolismedium;
}

#playofftable th, #playofftable td{
  height:20px;
}

#right-down-cell{
  border-top: 5px solid black;
  border-right: 5px solid black;
}

#down-right-cell{
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

#right-cell{
  border-right:5px solid black;
}

#right-up-cell{
  border-bottom:5px solid black;
  border-right:5px solid black;
}

#playoffteam{
  font-size: 15px;
  background-color:#8C8C8C;
  padding: 10px 10px;
  border-radius: 10px;
  color:white;
}


#playoffteam-winner{
  font-size: 15px;
  background-color:#595959;
  padding: 10px 10px;
  border-radius: 10px;
  color:white;
}

#playoffround{
  padding-left:70px;
  padding-right: 70px;
  padding-top:20px;
  padding-bottom:30px;
  font-size:20px;
}

.matchups-box{
  display:block;
  position:relative;
  margin:0 auto;
  width:96%;
  font-family:metropolismedium;
  background-color: #22406F;
  padding-top:5px;
  padding-bottom:10px;
  border-radius:10px;
}

.matchup-row{
  position:relative;
  width:98%;
  margin-top:10px;
  left:50%;
  transform: translateX(-50%);
}

.matchup-row:hover{
  cursor:pointer;
}

.matchup-item{
  position:absolute;
  width:49%;
  height:inherit;
}

.matchup-item-overall{
  position:absolute;
  bottom:0;
  background-color:#615D5D;
  width:100%;
  height:80%;
  border-radius:10px;
}

.matchup-item-mgr-logo{
  position:absolute;
  width:50px;
  height:50px;
  border-radius:25px;
  z-index:50;
  background-color:blue;
  background-size: 50px 50px;
  background-position:center;
}

.matchup-item-mgr-logo img{
  width:50px;
  height:50px;
  border-radius:25px;
  z-index:55;
}

.matchup-item-info{
  position:absolute;
  bottom:3px;
  color:#C8C8C8;
}

.matchup-item-info p{
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.matchup-item-L-align{
  text-align:left;
}

.matchup-item-R-align{
  text-align:right;
}

.matchup-item-totalscore{
  position:absolute;
  top:30%;
  transform: translateY(-50%);
  color:white;
}

.score-L-align{
  left:25px;
}

.score-R-align{
  right:25px;
}

.matchup-mid-sign{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index:50;
}

.matchup-mid-sign p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.versus-sym{
  border-radius:20px;
  width:40px;
  height:40px;
  background-color:red;
  color:white;
  top:60% !important;
}

.position-sym{
  background-color:red;
  width:40px;
  height:30px;
  color:white;
  font-size:14px;
  border-radius:5px;
}

.matchup-stats{
  position:relative;
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
}

.matchup-stats-row{
  position:relative;
  width:100%;
  height:80px;
  border-bottom: solid 0.5px white;
}

.matchup-player-info{
  position:absolute;
  height:auto;
  top:50%;
  transform: translateY(-50%);
}

.string-bench{
  width:100%;
  text-align:center;
  color:white;
}

.matchup-player-info h3{
  color:white;
}

.matchup-player-info p{
  color:#C8C8C8;
  width:100%;
}

.matchup-player-score{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  color:white;
}

.hidediv{
  display:none;
}


@media only screen and (min-width: 600px){
  .matchup-row{
    height:100px;
  }

  .matchup-item-info{
    font-size:16px;
    width:85%;
  }

  .matchup-item-totalscore{
    font-size:30px;
  }

  .matchup-player-score{
    font-size:20px;
  }

  .matchup-player-info{
    width:100%;
  }

  .matchup-player-info h3{
    font-size:16px;
  }

  .matchup-player-info p{
    font-size:12px;
  }

  .string-bench{
    font-size:20px;
  }

  .matchup-item-L-align{
    left:15px;
  }

  .matchup-item-R-align{
    right:15px;
  }

}

@media only screen and (max-width: 600px){
  .matchup-row{
    height:90px;
  }

  .matchup-item-info{
    font-size:12px;
    width:80%;
  }

  .matchup-item-totalscore{
    font-size:20px;
  }

  .matchup-player-score{
    font-size:13px;
  }

  .matchup-player-info{
    width:80%;
  }

  .matchup-player-info h3{
    font-size:12px;
  }

  .matchup-player-info p{
    font-size:10px;
  }

  .string-bench{
    font-size:15px;
  }

  .matchup-item-L-align{
    left:15px;
  }

  .matchup-item-R-align{
    right:15px;
  }
}


.hidestats{display:none;}
